.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /*Serve para preencher o restante do espaço*/
    

    z-index: 3;
}


.h1forms {
    display: flex;
    margin-bottom: 3rem;
    font-size: 2.2rem;

}

h2,h3 {
    color: #F1FDD1;
}


p {
    
    text-align: center;
}


/* linha 2*/

.cpfandInput {
    display: flex;
    margin-top: 28px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
    flex:1;
    

    margin :13px;

}

.lineDois {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.inputcpf {


    background-color: #171717;
    gap: 10px;
    padding: 14px 300px 14px 16px ;

    font-size: 1rem;
    color: #d9d9d9;
    border: 0px;
    border-radius: 11px;
    font-size: inter-light;

}
.inputcpf::placeholder {
    font-size: inter-light;
}



.inputcpf:focus {
    outline: 0.2px solid #555555 ;
    filter:brightness(1.2);
    
    transition: 0.9s;
}

/* Botão */

.submitLink {
    display: flex;
    flex-direction: column;
    color: #F1FDD1;
    font-size: 12px;
    margin: 60px;

    gap: 16px;

    justify-content: center;
    align-items: center;
}

.link {
    color: #01DF83;
}