
.headerHome {


    display: flex;
    margin:  10px 16px ;
    padding: 16px 100px;

    align-items: center;
    justify-content: space-between;
    height: max-content;

    position: sticky;
    top: 0;
    z-index: 100;
  
    /* estilização */

    background: rgba(0, 0, 0, 0.6); /* precisa ser translúcido */
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(22, 53, 50, 0.2);
}


.contentButtons {
    display: flex;
    gap: 16px;
}


.contentMain {
    display: flex;
    gap: 56px;
    height: 810px;
    width: 100%;
    position: relative;
    justify-content: center;
}

.f3d, .fbg, .contentTitulo {
    position: absolute;
    

}

.f3d {
    right: 120px;
    top: 75px;
    
}

.fbg {
    
    top: 238px;
}

.contentTitulo {
    width: 480px;
    
    top:430px;
    left:100px;
}

.fontDiferent {
    font-family: 'Source Serif 4', serif;
}


.titulo {
    color: #f1fdd1;
    font-size: 32px;
    overflow-wrap: break-word;
    font-family: inter-light;
    margin-bottom: 20px;
}
.fontDiferent {
    color: #f1fdd1;
    font-family: 'Source Serif 4';
}

.subtitle {
    text-transform: uppercase;
    font-family: inter-light;
    font-size: 16px;
    color: #efefef;
    width: 417px;
    text-align: start;
}

.logobranco {
    cursor: pointer;
    transform: filter 0.2s;
    transition: 0.5s ease;
}

.logobranco:hover {
    filter:brightness(0.8);
    
    transition: 0.5s;
}