.inputAuth {
    z-index: 2;
}

.input {
    background-color: #171717;
    gap: 10px;
    padding: 14px 33px 14px 16px ;

    font-size: 1rem;
    color: #d9d9d9;
    border: 0px;
    border-radius: 11px;
    font-size: inter-light;

}
input::placeholder {
    font-size: inter-light;
}



input:focus {
    outline: 0.2px solid #555555 ;
    filter:brightness(1.2);
    
    transition: 0.9s;
}