* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
    font-family: inter-normal;
    src: url(../../FINCORE/fonts/static/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: inter-light;
  src: url(../../FINCORE/fonts/static/Inter_18pt-Light.ttf);
}