.imagens {
    margin-left: 50px;
    width: 650px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;

    

}

.blur {
    position: absolute;
    z-index: 2;
    
}
.fImg {
    position: absolute;
    z-index: 1;
}
.login {
    position: absolute;
    z-index: 3;
}