.imagens {
    width: 650px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;

    

}

.blur {
    position: absolute;
}
.fImg {
    position: absolute;
}
.login {
    position: absolute;
}